/*Universal Styles*/

body{
    background-color: black;
    color: whitesmoke;
    font-family: "Bodoni Moda SC", serif;
}

/* HEADER */

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    text-align: center;
    justify-content: center;
}

header .content{
    display: flex;
    align-items: center;
    padding: 1.8rem;
    justify-content: center;
}

header nav ul{
    display: flex;
}

nav li{
    padding-left: 3.5rem;
}

li{
    display: inline-block;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
}


#zacharias{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    font-size: 50px;
    padding-left: 30px;
}

#zacharias:visited{
    color: whitesmoke;
    text-decoration: none;
}

#menu-icon{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
    font-size: 30px;
}

#menu-icon:hover{
}

#menu-icon:visited{
    color: whitesmoke;
    text-decoration: none;
}

.ig-icon{
    max-height: 30px;
}

/*MAIN*/
.zacharias-portada{
    width: 100%;
}

/*NEWS*/


/*FOOTER*/
footer {
    background-color: #9b9b9b;
    padding: 1.5rem 2rem;
  }
  
  footer .content {
    color: whitesmoke;
    display: flex;
    font-size: .75rem;
  }
  
  footer .copyright{
    flex-grow: 1;
  }