/*Universal Styles*/

*{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: black;
}
/* HEADER */

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    text-align: center;
    justify-content: center;
}

header .content{
    display: flex;
    align-items: center;
    padding: 1.8rem;
    justify-content: center;
}

header nav ul{
    display: flex;
}

nav li{
    padding-left: 3.5rem;
}

li{
    display: inline-block;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
}


.zacharias{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    font-size: 50px;
    padding-left: 30px;
    transition: color 200ms 20ms ease-in-out;
}

.zacharias:hover, .zacharias:active{
    color: lightgray;
}

.zacharias:visited{
    color: whitesmoke;
    text-decoration: none;
}

nav #menu-icon{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
    font-size: 30px;
    transition: color 200ms 200ms ease;
}

nav #menu-icon:hover, nav #menu-icon:active{
color: #9b9b9b;
}

#menu-icon:visited{
    color: whitesmoke;
    text-decoration: none;
}

.ig-icon{
    max-height: 30px;
}

/*MAIN*/

/* --- "SLIDDER FAILED"

.container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: var(opacity) ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}
*/

/*NEWS*/


/*FOOTER*/
footer {
    background-color: #9b9b9b;
    padding: 1.5rem 2rem;
  }
  
  footer .content {
    color: whitesmoke;
    display: flex;
    font-size: 1.5rem;
  }
  
  footer .copyright{
    flex-grow: 1.2;
  }